# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cs text diff=csharp
*.csx text diff=csharp
*.vb text
*.vbx text
*.fs text
*.fsx text
*.sql text

# Scripts
*.sh text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf

# Config files
*.json text
*.xml text
*.yml text
*.yaml text
*.config text
*.props text
*.targets text
*.nuspec text

# Documentation
*.md text
*.txt text
AUTHORS text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
copyright text
*COPYRIGHT* text
INSTALL text
license text
LICENSE text
NEWS text
readme text
*README* text
TODO text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.7z binary
*.gz binary
*.tar binary
*.zip binary

# Executables
*.exe binary
*.dll binary
*.so binary
*.dylib binary

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
